{% extends "layout.html.twig" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 title">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="row">
            {% for restaurant in restaurants %}
                <div class="restaurants col-lg-4 mb-4" style="background-image: url('{{ asset('uploads/restaurants_images/' ~ restaurant.image) }}');">
                    <div class="container">
                        <div class="row">
                            <a class="clickable-div" href="{{ path('clients_edit', {'id': restaurant.restaurantid }) }}">
                                <div class="col-lg-12 text-center restaurant-name">
                                    <h4>{{ restaurant.name }}</h4>
                                    {% if restaurant.paid %}
                                        <span class="label label-info">Cobrado: Si</span>
                                    {% else %}
                                        <span class="label label-info">Cobrado: No</span>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}