{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 title">
                <h1>Entrar en QRder</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-12">
                <div class="login-form">
                    {% if error %}
                        <div>{{ error.messageKey }}</div>
                    {% endif %}
                    <form action="{{ path('login') }}" method="post">
                        <div class="form-group">
                            <label for="username">Email</label>
                            <input type="email" id="username" name="_username" value="{{ last_username }}"
                                   class="form-control"/>
                            <label for="password">Contraseña</label>
                            <input type="password" id="password" name="_password" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Entrar" class="btn btn-qrder"/>
                            <input type="hidden" name="_target_path" value="/login"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}