{%  extends "layout.html.twig" %}
{% block content %}

	<div class="container-fluid">
		<h2><a href="{{ path('product_add', {'id' : id}) }}">Añadir pedido</a><hr/></h2>
		<div class="row">
			
		</div>
	</div>
	<div class="clearfix"></div>
{%  endblock %}