{% extends "layout.html.twig" %}

{% block content %}
        <div id="title">
            <h1>{{ title }}</h1>
        </div>
    <div class="row">
        {% for restaurant in restaurants %}
            <div class="col-lg-3 text-center">
                <h4>
                    <a href="{{ path('product_index', {'id': restaurant.restaurantid }) }}">{{ restaurant.name }}</a>
                </h4>
                <hr/>
            </div>
        {% endfor %}
    </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}